/* custom font */
@font-face{
  font-family: "ramadhan";
  src: url("../font/bismillah.ttf");
}

.nav-link:hover{
  text-decoration: underline;
}
.navbar-brand:hover{
  text-decoration: underline;
}